::selection {
    background-color: #00ff00; 
    color: #000000; 
}

::-moz-selection {
    background-color: #00ff00;
    color: #000000;
}

body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

#background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.floating-char {
    position: absolute;
    color: rgba(0, 255, 0, 0.4);
    animation: float 10s linear infinite;
    user-select: none;
    will-change: transform;
}

@keyframes float {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.terminal {
    width: 90%;
    max-width: 1000px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: none;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.terminal-bar {
    background-color: #333;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.terminal-body {
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.terminal-buttons {
    display: flex;
    gap: 5px;
    margin-left: 15px;
}

.terminal-buttons .button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.button.red { background-color: #ff5c5c; }
.button.yellow { background-color: #ffbd4c; }
.button.green { background-color: #00ca4e; }

.terminal-title {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

h2 {
    color: #00ff00;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform 0.3s ease-in-out; 
}

h2 > span {
    display: inline-block;
    transform: rotate(0deg);
}

h2 > span.rotate {
    transform: rotate(90deg); 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-image {
    width: 150px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
}

.collapsible {
    margin-bottom: 20px;
}

.clickable-title {
    cursor: pointer;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

footer {
    background-color: #333;
    color: #e0e0e0;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    width: 90%;
    max-width: 1000px;
    box-shadow: none;
    margin-top: 0;
}

@media (max-width: 600px) {
    .about-me-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-me-image {
        order: -1;
        margin-left: 0;
        margin-bottom: 10px;
        width: 120px;
    }

    #about-me-content {
        text-align: center;
        margin-bottom: 20px;
    }
}

.tubelight-effect {
    opacity: 0;
    animation: tubelight-flicker 1s ease-in-out forwards;
}

@keyframes tubelight-flicker {
    0% { opacity: 0; }
    10% { opacity: 1; }
    20% { opacity: 0; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 0; }
    70% { opacity: 1; }
    100% { opacity: 1; }
}

.tubelight-image-container {
    text-align: center;
    margin-top: 20px;
}

.tubelight-image-container img {
    width: 200px;
    height: auto;
}

.signature-container {
    text-align: right;
    margin-top: 35px; 
}

.signature-image {
    width: 80px;
    height: auto;
    margin-right: 10px; 
}

@media (max-width: 600px) {
    .signature-container {
        text-align: center;
    }
    
    .signature-image {
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .content {
        text-align: center;
    }
}

#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
}

#toggle-theme-logo {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
}

#toggle-theme-logo:hover {
    background-color: #818180;
    transform: scale(1.1);
}

.light-mode {
    background-color: #ffffff;
    color: #333;
}

.light-mode a {
    color: #333;
}

.light-mode h2 {
    color: #333;
}

.light-mode .terminal {
    background-color: #fff;
}

.light-mode ::selection {
    background-color: #333; 
    color: #fff; 
}

.light-mode ::-moz-selection {
    background-color: #333;
    color: #fff;
}

.light-mode .floating-char {
    position: absolute;
    color: rgba(51, 51, 51, 0.4);
    animation: float 10s linear infinite;
    user-select: none;
    will-change: transform;
}